AbsCPP.hs
DocCPP.txt
*CPP.*

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config

*.bak
Abspart*.hs
Docpart*.txt
ErrM.hs
Lexpart*.hs
Lexpart*.x
Parpart*.hs
*.y
Printpart*.hs.bak
Skelpart*.hs
Printpart*.hs
Testpart*
/part2/AbsCPP.hs
/part2/DocCPP.txt
/part2/LexCPP.hs
/part2/LexCPP.x
/part2/ParCPP.hs
/part2/PrintCPP.hs
/part2/SkelCPP.hs
/part2/TestCPP.hs